CREATE DATABASE [100_VN_films]
GO
USE [100_VN_films]
GO
/****** Object:  Table [dbo].[Actor]    Script Date: 5/27/2021 10:18:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Actor](
	[Actor name] [nvarchar](50) NOT NULL,
	[AID] [char](10) NOT NULL,
 CONSTRAINT [PK_Actor] PRIMARY KEY CLUSTERED 
(
	[AID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Categories]    Script Date: 5/27/2021 10:18:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categories](
	[Categories name] [nvarchar](15) NOT NULL,
	[CID] [char](10) NOT NULL,
 CONSTRAINT [PK_Categories] PRIMARY KEY CLUSTERED 
(
	[CID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Director]    Script Date: 5/27/2021 10:18:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Director](
	[Director name] [nvarchar](50) NOT NULL,
	[DID] [char](10) NOT NULL,
 CONSTRAINT [PK_Director] PRIMARY KEY CLUSTERED 
(
	[DID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Mov-Act]    Script Date: 5/27/2021 10:18:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Mov-Act](
	[MID] [char](10) NOT NULL,
	[AID] [char](10) NOT NULL,
 CONSTRAINT [PK_Mov-Act] PRIMARY KEY CLUSTERED 
(
	[MID] ASC,
	[AID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Mov-Cate]    Script Date: 5/27/2021 10:18:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Mov-Cate](
	[MID] [char](10) NOT NULL,
	[CID] [char](10) NOT NULL,
 CONSTRAINT [PK_Mov-Cate] PRIMARY KEY CLUSTERED 
(
	[MID] ASC,
	[CID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Mov-Dir]    Script Date: 5/27/2021 10:18:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Mov-Dir](
	[MID] [char](10) NOT NULL,
	[DID] [char](10) NOT NULL,
 CONSTRAINT [PK_Mov-Dir] PRIMARY KEY CLUSTERED 
(
	[MID] ASC,
	[DID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Movies]    Script Date: 5/27/2021 10:18:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Movies](
	[MID] [char](10) NOT NULL,
	[EnglishTitle] [nvarchar](255) NOT NULL,
	[VietnameseTitle] [nvarchar](255) NOT NULL,
	[Year] [int] NOT NULL,
	[Length] [nvarchar](10) NULL,
	[Rating] [float] NOT NULL,
	[Votes] [int] NULL,
	[Gross] [nvarchar](15) NULL,
 CONSTRAINT [PK_Movies] PRIMARY KEY CLUSTERED 
(
	[MID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Actor] ([Actor name], [AID]) VALUES (N'Alex', N'A1        ')
INSERT [dbo].[Actor] ([Actor name], [AID]) VALUES (N'Bao Anh', N'A10       ')
INSERT [dbo].[Actor] ([Actor name], [AID]) VALUES (N'Kim Long Thach', N'A100      ')
GO
INSERT [dbo].[Categories] ([Categories name], [CID]) VALUES (N'Drama', N'C1        ')
INSERT [dbo].[Categories] ([Categories name], [CID]) VALUES (N'Family', N'C10       ')
INSERT [dbo].[Categories] ([Categories name], [CID]) VALUES (N'War', N'C11       ')
GO
INSERT [dbo].[Director] ([Director name], [DID]) VALUES (N'Anh Hong', N'DID1      ')
INSERT [dbo].[Director] ([Director name], [DID]) VALUES (N'Dang Di Phan', N'DID10     ')
INSERT [dbo].[Director] ([Director name], [DID]) VALUES (N'Dang Nhat Minh', N'DID11     ')
GO
INSERT [dbo].[Mov-Act] ([MID], [AID]) VALUES (N'M1        ', N'A133      ')
INSERT [dbo].[Mov-Act] ([MID], [AID]) VALUES (N'M1        ', N'A175      ')
INSERT [dbo].[Mov-Act] ([MID], [AID]) VALUES (N'M1        ', N'A217      ')
GO
INSERT [dbo].[Mov-Cate] ([MID], [CID]) VALUES (N'M1        ', N'C1        ')
INSERT [dbo].[Mov-Cate] ([MID], [CID]) VALUES (N'M1        ', N'C2        ')
INSERT [dbo].[Mov-Cate] ([MID], [CID]) VALUES (N'M1        ', N'C3        ')
GO
INSERT [dbo].[Mov-Dir] ([MID], [DID]) VALUES (N'M1        ', N'DID2      ')
INSERT [dbo].[Mov-Dir] ([MID], [DID]) VALUES (N'M10       ', N'DID49     ')
INSERT [dbo].[Mov-Dir] ([MID], [DID]) VALUES (N'M100      ', N'DID35     ')
GO
INSERT [dbo].[Movies] ([MID], [EnglishTitle], [VietnameseTitle], [Year], [Length], [Rating], [Votes], [Gross]) VALUES (N'M1        ', N'The Scent of Green Papaya', N'Mùi Đu Đủ Xanh', 1993, N'104 min', 7.4, 7974, N'$1.91M')
INSERT [dbo].[Movies] ([MID], [EnglishTitle], [VietnameseTitle], [Year], [Length], [Rating], [Votes], [Gross]) VALUES (N'M10       ', N'Cú và Chim Se Sẻ', N'Cú Và Chim Se Sẻ', 2007, N'97 min', 7.3, 902, N'$0.05M')
INSERT [dbo].[Movies] ([MID], [EnglishTitle], [VietnameseTitle], [Year], [Length], [Rating], [Votes], [Gross]) VALUES (N'M100      ', N'Vua Bãi Rác', N'Vua Bãi Rác', 2002, N'97 min', 6.8, NULL, NULL)
GO
ALTER TABLE [dbo].[Mov-Act]  WITH CHECK ADD  CONSTRAINT [FK_Mov-Act_Actor] FOREIGN KEY([AID])
REFERENCES [dbo].[Actor] ([AID])
GO
ALTER TABLE [dbo].[Mov-Act] CHECK CONSTRAINT [FK_Mov-Act_Actor]
GO
ALTER TABLE [dbo].[Mov-Act]  WITH CHECK ADD  CONSTRAINT [FK_Mov-Act_Movies] FOREIGN KEY([MID])
REFERENCES [dbo].[Movies] ([MID])
GO
ALTER TABLE [dbo].[Mov-Act] CHECK CONSTRAINT [FK_Mov-Act_Movies]
GO
ALTER TABLE [dbo].[Mov-Cate]  WITH CHECK ADD  CONSTRAINT [FK_Mov-Cate_Categories] FOREIGN KEY([CID])
REFERENCES [dbo].[Categories] ([CID])
GO
ALTER TABLE [dbo].[Mov-Cate] CHECK CONSTRAINT [FK_Mov-Cate_Categories]
GO
ALTER TABLE [dbo].[Mov-Cate]  WITH CHECK ADD  CONSTRAINT [FK_Mov-Cate_Movies] FOREIGN KEY([MID])
REFERENCES [dbo].[Movies] ([MID])
GO
ALTER TABLE [dbo].[Mov-Cate] CHECK CONSTRAINT [FK_Mov-Cate_Movies]
GO
ALTER TABLE [dbo].[Mov-Dir]  WITH CHECK ADD  CONSTRAINT [FK_Mov-Dir_Director] FOREIGN KEY([DID])
REFERENCES [dbo].[Director] ([DID])
GO
ALTER TABLE [dbo].[Mov-Dir] CHECK CONSTRAINT [FK_Mov-Dir_Director]
GO
ALTER TABLE [dbo].[Mov-Dir]  WITH CHECK ADD  CONSTRAINT [FK_Mov-Dir_Movies] FOREIGN KEY([MID])
REFERENCES [dbo].[Movies] ([MID])
GO
ALTER TABLE [dbo].[Mov-Dir] CHECK CONSTRAINT [FK_Mov-Dir_Movies]
GO
