USE [master]
GO
/****** Object:  Database [Vnfimls]    Script Date: 19/07/2023 5:05:32 CH ******/
CREATE DATABASE [Vnfimls]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Vnfimls', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\Vnfimls.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Vnfimls_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\Vnfimls_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Vnfimls].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Vnfimls]
GO
/****** Object:  Table [dbo].[Actors]    Script Date: 19/07/2023 5:05:32 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Actors](
	[AID] [nvarchar](4) NOT NULL,
	[Actors] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Actors] PRIMARY KEY CLUSTERED 
(
	[AID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Categories]    Script Date: 19/07/2023 5:05:32 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categories](
	[CID] [nvarchar](4) NOT NULL,
	[Categories] [nvarchar](20) NOT NULL,
 CONSTRAINT [PK_Categories] PRIMARY KEY CLUSTERED 
(
	[CID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Directors]    Script Date: 19/07/2023 5:05:32 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Directors](
	[DID] [nvarchar](4) NOT NULL,
	[Directors] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Directors] PRIMARY KEY CLUSTERED 
(
	[DID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Film_Actor]    Script Date: 19/07/2023 5:05:32 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Film_Actor](
	[FID] [nvarchar](4) NOT NULL,
	[AID] [nvarchar](4) NOT NULL,
 CONSTRAINT [PK_Film_Actor] PRIMARY KEY CLUSTERED 
(
	[FID] ASC,
	[AID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Film_Category]    Script Date: 19/07/2023 5:05:32 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Film_Category](
	[FID] [nvarchar](4) NOT NULL,
	[CID] [nvarchar](4) NOT NULL,
 CONSTRAINT [PK_Film_Category] PRIMARY KEY CLUSTERED 
(
	[FID] ASC,
	[CID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Film_Director]    Script Date: 19/07/2023 5:05:32 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Film_Director](
	[FID] [nvarchar](4) NOT NULL,
	[DID] [nvarchar](4) NOT NULL,
 CONSTRAINT [PK_Film_Director] PRIMARY KEY CLUSTERED 
(
	[FID] ASC,
	[DID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Films]    Script Date: 19/07/2023 5:05:32 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Films](
	[FID] [nvarchar](4) NOT NULL,
	[EnglishTitle] [nvarchar](200) NOT NULL,
	[VietnameseTitle] [nvarchar](200) NOT NULL,
	[Year] [int] NOT NULL,
	[Length] [float] NULL,
	[Rating] [float] NULL,
	[Gross] [float] NULL,
 CONSTRAINT [PK_Films] PRIMARY KEY CLUSTERED 
(
	[FID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Actors] ([AID], [Actors]) VALUES (N'A001', N'Van Hong')
INSERT [dbo].[Actors] ([AID], [Actors]) VALUES (N'A002', N'Bich Phuong Huynh')
INSERT [dbo].[Actors] ([AID], [Actors]) VALUES (N'A003', N'Lan Huong Nguyen')
GO
INSERT [dbo].[Categories] ([CID], [Categories]) VALUES (N'C001', N'Romance')
INSERT [dbo].[Categories] ([CID], [Categories]) VALUES (N'C002', N'Adventure')
INSERT [dbo].[Categories] ([CID], [Categories]) VALUES (N'C003', N'Mystery')
GO
INSERT [dbo].[Directors] ([DID], [Directors]) VALUES (N'D001', N'Phi Tien Son')
INSERT [dbo].[Directors] ([DID], [Directors]) VALUES (N'D002', N'Ngoc Dang Vu')
INSERT [dbo].[Directors] ([DID], [Directors]) VALUES (N'D003', N'Buu Loc Tran')
GO
INSERT [dbo].[Film_Actor] ([FID], [AID]) VALUES (N'F001', N'A179')
INSERT [dbo].[Film_Actor] ([FID], [AID]) VALUES (N'F001', N'A185')
INSERT [dbo].[Film_Actor] ([FID], [AID]) VALUES (N'F001', N'A204')
GO
INSERT [dbo].[Film_Category] ([FID], [CID]) VALUES (N'F001', N'C001')
INSERT [dbo].[Film_Category] ([FID], [CID]) VALUES (N'F001', N'C004')
INSERT [dbo].[Film_Category] ([FID], [CID]) VALUES (N'F001', N'C014')
GO
INSERT [dbo].[Film_Director] ([FID], [DID]) VALUES (N'F001', N'D058')
INSERT [dbo].[Film_Director] ([FID], [DID]) VALUES (N'F002', N'D058')
INSERT [dbo].[Film_Director] ([FID], [DID]) VALUES (N'F003', N'D058')
GO
INSERT [dbo].[Films] ([FID], [EnglishTitle], [VietnameseTitle], [Year], [Length], [Rating], [Gross]) VALUES (N'F001', N'The Scent of Green Papaya', N'Mùi Đu Đủ Xanh', 1993, 104, 7.4000000953674316, 1.91)
INSERT [dbo].[Films] ([FID], [EnglishTitle], [VietnameseTitle], [Year], [Length], [Rating], [Gross]) VALUES (N'F002', N'Cyclo', N'Xích Lô', 1995, 123, 7.3000001907348633, 0.08)
INSERT [dbo].[Films] ([FID], [EnglishTitle], [VietnameseTitle], [Year], [Length], [Rating], [Gross]) VALUES (N'F003', N'The Vertical Ray of the Sun', N'Mùa Hè Chiều Thẳng Đứng', 2000, 112, 7.1999998092651367, 0.46)
GO
ALTER TABLE [dbo].[Film_Actor]  WITH CHECK ADD  CONSTRAINT [FK_FilmActor_Actors] FOREIGN KEY([AID])
REFERENCES [dbo].[Actors] ([AID])
GO
ALTER TABLE [dbo].[Film_Actor] CHECK CONSTRAINT [FK_FilmActor_Actors]
GO
ALTER TABLE [dbo].[Film_Actor]  WITH CHECK ADD  CONSTRAINT [FK_FilmActor_Films] FOREIGN KEY([FID])
REFERENCES [dbo].[Films] ([FID])
GO
ALTER TABLE [dbo].[Film_Actor] CHECK CONSTRAINT [FK_FilmActor_Films]
GO
ALTER TABLE [dbo].[Film_Category]  WITH CHECK ADD  CONSTRAINT [FK_FilmCategory_Categories] FOREIGN KEY([CID])
REFERENCES [dbo].[Categories] ([CID])
GO
ALTER TABLE [dbo].[Film_Category] CHECK CONSTRAINT [FK_FilmCategory_Categories]
GO
ALTER TABLE [dbo].[Film_Category]  WITH CHECK ADD  CONSTRAINT [FK_FilmCategory_Films] FOREIGN KEY([FID])
REFERENCES [dbo].[Films] ([FID])
GO
ALTER TABLE [dbo].[Film_Category] CHECK CONSTRAINT [FK_FilmCategory_Films]
GO
ALTER TABLE [dbo].[Film_Director]  WITH CHECK ADD  CONSTRAINT [FK_FilmDirector_Directors] FOREIGN KEY([DID])
REFERENCES [dbo].[Directors] ([DID])
GO
ALTER TABLE [dbo].[Film_Director] CHECK CONSTRAINT [FK_FilmDirector_Directors]
GO
ALTER TABLE [dbo].[Film_Director]  WITH CHECK ADD  CONSTRAINT [FK_FilmDirector_Films] FOREIGN KEY([FID])
REFERENCES [dbo].[Films] ([FID])
GO
ALTER TABLE [dbo].[Film_Director] CHECK CONSTRAINT [FK_FilmDirector_Films]
GO
USE [master]
GO
